*.TMP
*.exe
*.dll
*.oca
creditos.tbr
*.log
log.txt
OLDlog.txt
OLDtbrlog.txt
reini.tbr
TBRlog.txt
imgINI/
Copia de config.tbr
getUnicInfo/i/
grap/*.zip
grap/*.xls
grap/*.txt
grap/*.tif
grap/*.doc
manual.zip
protect.tbr
logo.sys
LOGOS.SYS
logow.sys
*.cdr
*.wav
up3PM/source
3pm.zip
system.ini
*.zip
*.ZIP
