*.TMP
*.exe
*.EXE
*.dll
*.DLL
*.oca
*.OCA
*.ocx
*.OCX
creditos.tbr
*.log
log.txt
OLDlog.txt
OLDtbrlog.txt
reini.tbr
TBRlog.txt
imgINI/
Copia de config.tbr
getUnicInfo/i/
grap/*.zip
grap/*.xls
grap/*.txt
grap/*.tif
grap/*.doc
manual.zip
protect.tbr
logo.sys
LOGO.SYS
logos.sys
LOGOS.SYS
logow.sys
LOGOW.SYS
*.cdr
*.wav
up3PM/source
3pm.zip
system.ini
*.zip
*.ZIP
pub/*.jpg
pub/*.mp3
pub/*.MP3
pub/*.mpeg
pub/*.avi
pub/*.txt
CFGDes.txt
CFGenc.txt
Desktop.ini
Thumbs.db
pub/*.JPG
pub/*.jpeg
pub/*.gif
pub/*.GIF
*.kar
nev.man
*.dlw
instalador/Output
up3PM/*.txt
Nev.man
*.W15
*.w15
Licencia CLUF.txt
INST 3PM INNO 5/Output
wine-dlls-mciavi32-mciavi_c.htm
*.CAB
*.mpg
DLL/MODULO ERR/i
DLL/NumeroLetra
DLL/tbrArbol
SKS-DLL3/Output
SKS-DLL3/INST INNO
*.rar
*.vbg
DLL/tbrTimer/prueba reloj/
INST 3PM INNO 5/AyudasInno
INST 3PM INNO 5/VIEJOS
SKS-DLL3/*.txt
